* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
html,
body,
#root {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

main {
	width: 100%;
	height: 100vh;
    padding: 1rem;
	h1 {
		text-align: center;
		padding-top: 1rem;
		font-size: 3rem;
		font-weight: 400;
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 10px;
		text-decoration-color: red;
	}

    .con1{
        width: 100%;
        padding: 1rem 2rem;

        ul{
            list-style: none;
        }
    }
}
